[submodule "minimal/marian-dev"]
	path = minimal/marian-dev
	url = https://github.com/XapaJIaMnu/marian-dev.git
[submodule "minimal/preprocess"]
	path = minimal/preprocess
	url = https://github.com/jelmervdl/preprocess.git
